@CHARSET "UTF-8";
body {
	background-color: #666666;
}
* {
   	margin: 0;
   	padding: 0;
   	font-family: sans-serif;
}

#wrap {
	width: 90%;
   	margin: 0 auto;
	background-color: #ffffff;
}

#fix {
	width: 90%;
	height: 100px;
	position: fixed;
   	margin: 0 auto;
}

#kopf {
	background-color: #cccccc;
	height: 60px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#ha1 {
	background-color: #2d2d2d;
	color: #ffffff;
	height: auto;
	padding-left: 5px;
	
}

caption{
	height: 25px;
	padding: 10px;
	background-color: #ffffff;
	
}


#thead {
	width: 100%;
}

th {
	height: 70px;
	
}

th:first-child {
	width: 10%;
	background-color: rgb(255, 51, 51);
	
}

td:first-child {
	width: 10%;
	
}

th:first-child + th {
	width: 55%;
	
}

td:first-child + td {
	width: 55%;
	background-color: #cccccc;
	
}

th:first-child + th + th {
	margin-left: 5px;
	width: 25%;
	background-color: #33cccc;
	
}

td:first-child + td + td {
	margin-left: 5px;
	width: 25%;
	
}

th:first-child + th + th + th {
	width: 10%;
	background-color: rgb(255, 51, 51);
	
}

td:first-child + td + td + td {
	width: 10%;
	background-color: #cccccc;
	
}

#wrap1 {
	height: 120px;
   margin: 0 auto;
}

.wrap2 {
   	margin-top: 10px;
}

.ft {
	float:left;
}

.ft2 {
	float: right;
}



#center {
	margin: auto;
	padding: 0px;
}


table {
		border-collapse: collapse;
		
	}

td {
    border: 0px solid #000000;
    padding: 0.1em 1em;
}
th {
	background-color: #2d2d2d;
    border: 0px solid #000000;
    color: #ffffff;
}
tr {
	border-bottom: 1px solid #cccccc;   
}